.home-page {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;

    .text-zone {
        z-index: 1;
        position: absolute;
        right: 0%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
    }

    h1 {
        color: white;
        align-items: right;
        font-size: 53px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;
    }
}

h2 {
    color: #8d8d8d;
    margin-top: 15px;
    font-weight: 400;
    font-size: 11px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
}

.flat-button {
    color: #ed7966;
    background-color: #141850;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 12px 18px;
    margin-top: 30px;
    border: 1px solid #ed7966;
    float: left;
    animation: fadeInAnimation 1s 1.8s backwards;
    white-space: nowrap;

    &:hover {
        background: #ed7966;
        color: #333;
        cursor: pointer;
    }
}

.flat-button-animate {
    color: #ed7966;
    background-color: #141850;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 12px 18px;
    margin-top: 30px;
    border: 1px solid #ed7966;
    float: left;
    animation: rotater 6s forwards;
    white-space: nowrap;

    &:hover {
        background: #ed7966;
        color: #333;
    }
}

@keyframes rotater {
    0% {
        transform: rotate(0deg);
        transform-origin: top left;
    }
    10% {
        transform: rotate(170deg);
        transform-origin: top left;
        animation-timing-function: ease-in-out;
    }
    25% {
        transform: rotate(20deg);
        transform-origin: top left;
        animation-timing-function: ease-in-out;
    }
    38% {
        transform: rotate(115deg);
        transform-origin: top left;
        animation-timing-function: ease-in-out;
    }
    52% {
        transform: rotate(50deg);
        transform-origin: top left;
        animation-timing-function: ease-in-out;
    }
    65% {
        transform: rotate(95deg);
        transform-origin: top left;
        animation-timing-function: ease-in-out;
    }
    77% {
        transform: rotate(65deg);
        transform-origin: top left;
        animation-timing-function: ease-in-out;
    }
    100% {
        transform: rotate(90deg);
        transform-origin: top left;
        animation-timing-function: ease-in-out;
    }
}

.name-container {
    .dust {
        position: absolute;
        left: -100px;
        top: -80px;
        height: 200px;
        width: 300px;
        z-index: 99;
        opacity: 0;
        animation: fadeOut 2s;
        animation-delay: 4.7s;
    }

    .crack{
        position: absolute;
        left: -30px;
        top: -30px;
        height: 150px;
        width: 200px;
        z-index: 0;
        opacity: 0;
        animation: fadeOut 4s;
        animation-delay: 4.7s;
    }
    
    .name-animate {
        position: absolute;
        bottom: 784px;
        left: 76px;
        animation: fall 0.2s linear;
        animation-fill-mode: forwards;
        animation-delay: 4.5s;
        opacity: 0;
    }
}

@keyframes fall {
    0% {
        transform: translateY(0) translateX(-800px);
        opacity: 1;
    }
    100% {
        transform: translateY(600px);
        opacity: 1;
    }
}

.particles-container {
    position: absolute;
    top: -8vh;
    left: -46vw;
    pointer-events: none;
    width: 500px;
    height: 500px;
    border-radius: 500px;
    z-index: 999;
    animation: fadeIn 2s;
}

.hidden-image {
    max-width: 500px;
    height: 500px;
    border-radius: 500px;
    opacity: 1;
    
}

.profilePic-container {
    position: absolute;
    top: 0%;
}

.bell {
    position: absolute;
    top: 88vh;
    left: 95vw;
    width: 50px;
    height: auto;
    animation: wiggle 2s linear infinite;
    &:hover {
        cursor: pointer;
    }
}

.bell-vanish{
    animation: fadeOut 1s forwards;
}

@keyframes wiggle {
    0%, 7% {
        transform: rotateZ(0);
        transform-origin: bottom;
    }
    15% {
        transform: rotateZ(-15deg);
        transform-origin: bottom;
    }
    20% {
        transform: rotateZ(10deg);
        transform-origin: bottom;
    }
    25% {
        transform: rotateZ(-10deg);
        transform-origin: bottom;
    }
    30% {
        transform: rotateZ(6deg);
        transform-origin: bottom;
    }
    35% {
        transform: rotateZ(-4deg);
        transform-origin: bottom;
    }
    40%, 100% {
        transform: rotateZ(0);
        transform-origin: bottom;
    }
}

.torch-container {
    animation: torchPush 4s 1s ease-out backwards;
    position: absolute;
    top: 25.4%;
    left: -30%;

    .torch {
        height: 200px;
        width: auto;
        transform: rotate(-127deg);
        &:hover {
            cursor: pointer;
        }
    }

    .torch-vanish {
        animation: torchFadeOut 3s forwards;
    }

    .hand {
        position: absolute;
        top: 55.5%;
        left: 40%;
        height: 100px;
        width: auto;
        animation: handAway 2s 5s forwards;
    }

    .trapezoid-container {
        position: absolute;
        top: 28%;
        right: 86%;
        transform: rotate(90deg);
    
        .trapezoid {
            width: 20px;
            height: 20px;
            border-left: 30px solid transparent;
            border-right: 30px solid transparent;
            border-bottom: 60px solid transparent;
            position: relative;
            transform: perspective(1px) rotateX(1deg);
        }
        
        .trapezoid::before {
            content: '';
            border-left: 20px solid yellow;
            border-right: 20px solid yellow;
            border-bottom: 20px solid yellow;
            box-shadow: 0 10px 50px 60px yellow;
            z-index: -1;
        } 
    }
    
    .light-animated {
        animation: flashOut 3s forwards;
    }
}

@keyframes torchFadeOut {
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes torchPush {
    0% {
        transform: translateY(500px);
    }
}

@keyframes handAway {
    99% {
        transform: translateY(500px);
    }
    100% {
        opacity: 0;
    }
}

@keyframes flashOut {
    0% {
        opacity: 1;
    }
    2% {
        opacity: 0;
    }
    4% {
        opacity: 1;
    }
    16% {
        opacity: 0;
    }
    18% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
    22%, 70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.torch-image-animated {
    animation: flashOutImage 2s 0.5s forwards;
}

@keyframes flashOutImage {
    0% {
        opacity: 1;
    }
    2% {
        opacity: 0;
    }
    4% {
        opacity: 1;
    }
    16% {
        opacity: 0;
    }
    18% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
    22%, 100% {
        opacity: 1;
    }
}